.p-t-190 {
    padding-top: 190px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-b-45 {
    padding-bottom: 45px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.p-t-10 {padding-top: 10px;}

.p-t-25 {padding-top: 25px;}

.p-b-230 {padding-bottom: 230px;}

.w-full {width: 100%;}

.text-center {text-align: center;}